<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="./styles/main.css">
    <script defer src="./scripts/table.js"></script>
    <script defer src="./scripts/helpers.js"></script>
    <script defer src="./scripts/modal.js"></script>
    <script defer src="./scripts/main.js"></script>
    <title>PhoneBook</title>

</head>
<body>
    <table>
        <thead>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Date
            </th>
            <th>
                Action
            </th>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <button id="add">Add contact</button>
                </td>
            </tr>
        </tfoot>
    </table>

    <dialog id="dialog">
        <form method="dialog">
            <section>
                <p>
                    <label for="name">Name:</label>
                    <input id="name" type="text" />
                </p>
                <p>
                    <label for="phone">Phone:</label>
                    <input id="phone" type="tel" placeholder="123-4567-8901"/>
                </p>
            </section>
            <menu>
                <button id="cancel" type="reset">Cancel</button>
                <button type="submit">Confirm</button>
            </menu>
        </form>
    </dialog>
</body>
</html>